<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>boost_01_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,164}</string>
				<key>spriteSourceSize</key>
				<string>{128,164}</string>
				<key>textureRect</key>
				<string>{{251,2274},{128,164}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>boost_02_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{122,216}</string>
				<key>spriteSourceSize</key>
				<string>{122,216}</string>
				<key>textureRect</key>
				<string>{{767,2184},{122,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_03_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{192,216}</string>
				<key>spriteSourceSize</key>
				<string>{192,216}</string>
				<key>textureRect</key>
				<string>{{890,2184},{192,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_04_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{250,216}</string>
				<key>spriteSourceSize</key>
				<string>{250,216}</string>
				<key>textureRect</key>
				<string>{{0,2190},{250,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>boost_05_shine_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0}</string>
				<key>spriteSize</key>
				<string>{253,206}</string>
				<key>spriteSourceSize</key>
				<string>{256,206}</string>
				<key>textureRect</key>
				<string>{{1883,1927},{253,206}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_challengeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{401,836},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_createBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1143,0},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_creatorBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{265,265}</string>
				<key>spriteSourceSize</key>
				<string>{280,280}</string>
				<key>textureRect</key>
				<string>{{2004,1156},{265,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_dailyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{798,801},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_dailyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-8.5}</string>
				<key>spriteSize</key>
				<string>{327,217}</string>
				<key>spriteSourceSize</key>
				<string>{331,238}</string>
				<key>textureRect</key>
				<string>{{1592,910},{327,217}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_eventBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{945,397},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_eventCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-7.5}</string>
				<key>spriteSize</key>
				<string>{320,233}</string>
				<key>spriteSourceSize</key>
				<string>{322,252}</string>
				<key>textureRect</key>
				<string>{{1331,1595},{320,233}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_featuredBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1233},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_freeLevelsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-7.5}</string>
				<key>spriteSize</key>
				<string>{262,247}</string>
				<key>spriteSourceSize</key>
				<string>{266,262}</string>
				<key>textureRect</key>
				<string>{{2004,1422},{262,247}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_fullBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{317,265}</string>
				<key>spriteSourceSize</key>
				<string>{322,280}</string>
				<key>textureRect</key>
				<string>{{1565,1754},{317,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_gauntletsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{397,1233},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_highscoreBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{794,1233},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_listsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1540,0},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1191,1198},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_mapPacksBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,-11}</string>
				<key>spriteSize</key>
				<string>{400,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,836},{400,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_moreGamesBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{325,265}</string>
				<key>spriteSourceSize</key>
				<string>{330,280}</string>
				<key>textureRect</key>
				<string>{{1588,1488},{325,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_pathsBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1195,794},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_playBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10.5,-11}</string>
				<key>spriteSize</key>
				<string>{417,416}</string>
				<key>spriteSourceSize</key>
				<string>{438,438}</string>
				<key>textureRect</key>
				<string>{{528,383},{417,416}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_safeBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-3.5}</string>
				<key>spriteSize</key>
				<string>{170,189}</string>
				<key>spriteSourceSize</key>
				<string>{174,196}</string>
				<key>textureRect</key>
				<string>{{2172,1670},{170,189}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_savedBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{1342,397},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_searchBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{0,1630},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_versusBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{396,396}</string>
				<key>spriteSourceSize</key>
				<string>{418,418}</string>
				<key>textureRect</key>
				<string>{{397,1630},{396,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_weeklyBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11,-11}</string>
				<key>spriteSize</key>
				<string>{395,396}</string>
				<key>spriteSourceSize</key>
				<string>{417,418}</string>
				<key>textureRect</key>
				<string>{{794,1630},{395,396}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_weeklyCrown_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-9.5}</string>
				<key>spriteSize</key>
				<string>{327,219}</string>
				<key>spriteSourceSize</key>
				<string>{331,238}</string>
				<key>textureRect</key>
				<string>{{1588,1268},{327,219}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-6,3}</string>
				<key>spriteSize</key>
				<string>{176,174}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1083,2184},{176,174}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,8}</string>
				<key>spriteSize</key>
				<string>{234,216}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{532,2184},{234,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,11}</string>
				<key>spriteSize</key>
				<string>{246,242}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{289,2027},{246,242}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,8}</string>
				<key>spriteSize</key>
				<string>{252,252}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2090,1927},{252,252}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,8}</string>
				<key>spriteSize</key>
				<string>{257,256}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{1914,1670},{257,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,7}</string>
				<key>spriteSize</key>
				<string>{268,268}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2013,590},{268,268}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerDash2_boom2_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,7}</string>
				<key>spriteSize</key>
				<string>{276,272}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2070,281},{276,272}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7}</string>
				<key>spriteSize</key>
				<string>{280,272}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2070,0},{280,272}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerDash2_boom2_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,7}</string>
				<key>spriteSize</key>
				<string>{276,270}</string>
				<key>spriteSourceSize</key>
				<string>{282,288}</string>
				<key>textureRect</key>
				<string>{{2003,879},{276,270}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-44.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{60,286}</string>
				<key>spriteSourceSize</key>
				<string>{149,287}</string>
				<key>textureRect</key>
				<string>{{1592,1128},{60,286}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_01_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{57,286}</string>
				<key>spriteSourceSize</key>
				<string>{62,287}</string>
				<key>textureRect</key>
				<string>{{849,152},{57,286}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_02_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-47.5,0}</string>
				<key>spriteSize</key>
				<string>{77,288}</string>
				<key>spriteSourceSize</key>
				<string>{172,288}</string>
				<key>textureRect</key>
				<string>{{1935,590},{77,288}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_02_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{14.5,0}</string>
				<key>spriteSize</key>
				<string>{115,332}</string>
				<key>spriteSourceSize</key>
				<string>{144,332}</string>
				<key>textureRect</key>
				<string>{{1592,794},{115,332}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18,0}</string>
				<key>spriteSize</key>
				<string>{162,288}</string>
				<key>spriteSourceSize</key>
				<string>{198,288}</string>
				<key>textureRect</key>
				<string>{{0,2027},{162,288}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_03_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{18,-1}</string>
				<key>spriteSize</key>
				<string>{140,354}</string>
				<key>spriteSourceSize</key>
				<string>{176,356}</string>
				<key>textureRect</key>
				<string>{{1190,1630},{140,354}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-44,-0.5}</string>
				<key>spriteSize</key>
				<string>{90,292}</string>
				<key>spriteSourceSize</key>
				<string>{178,301}</string>
				<key>textureRect</key>
				<string>{{1937,297},{90,292}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_04_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{11.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{76,346}</string>
				<key>spriteSourceSize</key>
				<string>{99,347}</string>
				<key>textureRect</key>
				<string>{{1588,1191},{76,346}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>portalshine_05_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18.5,-6.5}</string>
				<key>spriteSize</key>
				<string>{95,267}</string>
				<key>spriteSourceSize</key>
				<string>{132,280}</string>
				<key>textureRect</key>
				<string>{{1331,1916},{95,267}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_05_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,296}</string>
				<key>spriteSourceSize</key>
				<string>{132,296}</string>
				<key>textureRect</key>
				<string>{{1937,0},{132,296}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_06_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-47.5,0}</string>
				<key>spriteSize</key>
				<string>{77,288}</string>
				<key>spriteSourceSize</key>
				<string>{172,288}</string>
				<key>textureRect</key>
				<string>{{1925,879},{77,288}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>portalshine_06_front_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{63,349}</string>
				<key>spriteSourceSize</key>
				<string>{86,350}</string>
				<key>textureRect</key>
				<string>{{789,227},{63,349}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,1}</string>
				<key>spriteSize</key>
				<string>{848,74}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,152},{848,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,1}</string>
				<key>spriteSize</key>
				<string>{788,80}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,227},{788,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-121,2}</string>
				<key>spriteSize</key>
				<string>{600,74}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{0,308},{600,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-187,3}</string>
				<key>spriteSize</key>
				<string>{476,72}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{601,308},{476,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spiderDash_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-218,3}</string>
				<key>spriteSize</key>
				<string>{418,70}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{457,383},{418,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-286,5}</string>
				<key>spriteSize</key>
				<string>{282,68}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{1935,1168},{282,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-315,4}</string>
				<key>spriteSize</key>
				<string>{232,68}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{2274,859},{232,68}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spiderDash_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-392,7}</string>
				<key>spriteSize</key>
				<string>{86,60}</string>
				<key>spriteSourceSize</key>
				<string>{884,84}</string>
				<key>textureRect</key>
				<string>{{2282,558},{86,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>theTowerDoor_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,-3}</string>
				<key>spriteSize</key>
				<string>{456,452}</string>
				<key>spriteSourceSize</key>
				<string>{464,458}</string>
				<key>textureRect</key>
				<string>{{0,383},{456,452}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>theTowerLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6.5,-6}</string>
				<key>spriteSize</key>
				<string>{355,164}</string>
				<key>spriteSourceSize</key>
				<string>{368,176}</string>
				<key>textureRect</key>
				<string>{{1739,397},{355,164}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>weeklyLevelsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-4.5}</string>
				<key>spriteSize</key>
				<string>{1142,151}</string>
				<key>spriteSourceSize</key>
				<string>{1152,160}</string>
				<key>textureRect</key>
				<string>{{0,0},{1142,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
			<key>size</key>
			<string>{2342,2406}</string>
			<key>textureFileName</key>
			<string>GJ_GameSheet04-uhd.png</string>
		</dict>
	</dict>
</plist>