<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1.0}</string>
			<key>spriteSize</key>
			<string>{88,29}</string>
			<key>spriteSourceSize</key>
			<string>{90,31}</string>
			<key>textureRect</key>
			<string>{{134,120},{88,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.875}</string>
			<key>spriteSize</key>
			<string>{424,45}</string>
			<key>spriteSourceSize</key>
			<string>{429,52}</string>
			<key>textureRect</key>
			<string>{{0,0},{424,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-1.875}</string>
			<key>spriteSize</key>
			<string>{183,34}</string>
			<key>spriteSourceSize</key>
			<string>{187,38}</string>
			<key>textureRect</key>
			<string>{{0,46},{183,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,1.0}</string>
			<key>spriteSize</key>
			<string>{142,42}</string>
			<key>spriteSourceSize</key>
			<string>{146,52}</string>
			<key>textureRect</key>
			<string>{{184,46},{142,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{90,24}</string>
			<key>spriteSourceSize</key>
			<string>{90,24}</string>
			<key>textureRect</key>
			<string>{{327,46},{90,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{90,23}</string>
			<key>spriteSourceSize</key>
			<string>{90,23}</string>
			<key>textureRect</key>
			<string>{{327,70},{90,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,-1.875}</string>
			<key>spriteSize</key>
			<string>{161,38}</string>
			<key>spriteSourceSize</key>
			<string>{165,42}</string>
			<key>textureRect</key>
			<string>{{0,81},{161,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.875,-1.75}</string>
			<key>spriteSize</key>
			<string>{133,38}</string>
			<key>spriteSourceSize</key>
			<string>{136,42}</string>
			<key>textureRect</key>
			<string>{{0,120},{133,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet.png</string>
		<key>size</key>
		<string>{424,158}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet.png</string>
	</dict>
</dict>
</plist>
