<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{177,58}</string>
			<key>spriteSourceSize</key>
			<string>{180,62}</string>
			<key>textureRect</key>
			<string>{{267,239},{177,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.0,-5.75}</string>
			<key>spriteSize</key>
			<string>{848,90}</string>
			<key>spriteSourceSize</key>
			<string>{858,104}</string>
			<key>textureRect</key>
			<string>{{0,0},{848,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,-3.75}</string>
			<key>spriteSize</key>
			<string>{367,69}</string>
			<key>spriteSourceSize</key>
			<string>{374,77}</string>
			<key>textureRect</key>
			<string>{{0,91},{367,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,2.0}</string>
			<key>spriteSize</key>
			<string>{285,84}</string>
			<key>spriteSourceSize</key>
			<string>{292,105}</string>
			<key>textureRect</key>
			<string>{{368,91},{285,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{180,48}</string>
			<key>spriteSourceSize</key>
			<string>{180,48}</string>
			<key>textureRect</key>
			<string>{{653,91},{180,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{180,47}</string>
			<key>spriteSourceSize</key>
			<string>{180,47}</string>
			<key>textureRect</key>
			<string>{{653,140},{180,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,-3.75}</string>
			<key>spriteSize</key>
			<string>{323,77}</string>
			<key>spriteSourceSize</key>
			<string>{331,85}</string>
			<key>textureRect</key>
			<string>{{0,161},{323,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,-3.5}</string>
			<key>spriteSize</key>
			<string>{266,77}</string>
			<key>spriteSourceSize</key>
			<string>{273,84}</string>
			<key>textureRect</key>
			<string>{{0,239},{266,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{848,316}</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>
