<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-4.875}</string>
			<key>spriteSize</key>
			<string>{54,48}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{202,117},{54,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-5.5}</string>
			<key>spriteSize</key>
			<string>{93,71}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{273,0},{93,71}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-5.25}</string>
			<key>spriteSize</key>
			<string>{116,70}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{202,0},{116,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{111,64}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,221},{111,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-5.0}</string>
			<key>spriteSize</key>
			<string>{114,52}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{126,168},{114,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-5.125}</string>
			<key>spriteSize</key>
			<string>{125,53}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,168},{125,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.125,-4.875}</string>
			<key>spriteSize</key>
			<string>{135,53}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{148,0},{135,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-5.375}</string>
			<key>spriteSize</key>
			<string>{142,54}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,113},{142,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.625,-5.25}</string>
			<key>spriteSize</key>
			<string>{145,56}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,57},{145,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.875,-5.25}</string>
			<key>spriteSize</key>
			<string>{147,56}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,0},{147,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_05.png</string>
		<key>size</key>
		<string>{344,286}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_05.png</string>
	</dict>
</dict>
</plist>
