<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{231,175}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{626,825},{231,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,5.0}</string>
			<key>spriteSize</key>
			<string>{269,241}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{626,583},{269,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.5,8.5}</string>
			<key>spriteSize</key>
			<string>{274,282}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{615,299},{274,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,3.0}</string>
			<key>spriteSize</key>
			<string>{266,298}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{318,1},{266,298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.5}</string>
			<key>spriteSize</key>
			<string>{294,297}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{586,1},{294,297}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{313,318}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{1,646},{313,318}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,-4.5}</string>
			<key>spriteSize</key>
			<string>{315,321}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{1,323},{315,321}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{316,321}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{1,1},{316,321}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{309,315}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{315,646},{309,315}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6.5,-2.0}</string>
			<key>spriteSize</key>
			<string>{300,296}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{317,323},{300,296}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_02-hd.png</string>
		<key>size</key>
		<string>{895,1001}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3a2a6094198ba3bcd62776d5e3df3d37:3bca87fd08b46d47147849b5a151e9e8:fa4e3c82d70b3a25876b59d7652a1edb$</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_02-hd.png</string>
	</dict>
</dict>
</plist>
