<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-9.75}</string>
			<key>spriteSize</key>
			<string>{109,96}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{403,233},{109,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-11.0}</string>
			<key>spriteSize</key>
			<string>{186,142}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{545,0},{186,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-10.5}</string>
			<key>spriteSize</key>
			<string>{232,141}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{403,0},{232,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.0,-9.0}</string>
			<key>spriteSize</key>
			<string>{223,129}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,442},{223,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-10.0}</string>
			<key>spriteSize</key>
			<string>{229,105}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{251,335},{229,105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-10.25}</string>
			<key>spriteSize</key>
			<string>{250,106}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,335},{250,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-9.75}</string>
			<key>spriteSize</key>
			<string>{270,107}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{295,0},{270,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_05_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,-10.75}</string>
			<key>spriteSize</key>
			<string>{284,108}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,226},{284,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-10.5}</string>
			<key>spriteSize</key>
			<string>{291,112}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,114},{291,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_05_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-10.5}</string>
			<key>spriteSize</key>
			<string>{294,113}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,0},{294,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_05-hd.png</string>
		<key>size</key>
		<string>{687,571}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_05-hd.png</string>
	</dict>
</dict>
</plist>
