<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerExplosion_06_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{196,188}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1413,1048},{196,188}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0}</string>
				<key>spriteSize</key>
				<string>{312,298}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1413,749},{312,298}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{366,348}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1414,400},{366,348}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,0}</string>
				<key>spriteSize</key>
				<string>{399,380}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1414,0},{399,380}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{422,404}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{481,962},{422,404}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{440,420}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{907,1407},{440,420}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{454,434}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{472,1393},{454,434}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{464,450}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{948,956},{464,450}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{471,457}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,1393},{471,457}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_010.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-4}</string>
				<key>spriteSize</key>
				<string>{475,462}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{948,480},{475,462}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_011.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{479,465}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{948,0},{479,465}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_012.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,0}</string>
				<key>spriteSize</key>
				<string>{480,458}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,0},{480,458}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_013.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,459},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_06_014.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{481,0},{480,466}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_015.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{481,481},{480,466}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_06_016.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-4}</string>
				<key>spriteSize</key>
				<string>{480,466}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,926},{480,466}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>PlayerExplosion_06-uhd.png</string>
			<key>size</key>
			<string>{1794,1850}</string>
			<key>textureFileName</key>
			<string>PlayerExplosion_06-uhd.png</string>
		</dict>
	</dict>
</plist>