<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerExplosion_05_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-19.5}</string>
				<key>spriteSize</key>
				<string>{218,193}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{806,466},{218,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-22}</string>
				<key>spriteSize</key>
				<string>{372,284}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1089,0},{372,284}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_05_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-21}</string>
				<key>spriteSize</key>
				<string>{465,282}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{806,0},{465,282}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_05_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,-18}</string>
				<key>spriteSize</key>
				<string>{446,258}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,884},{446,258}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-20}</string>
				<key>spriteSize</key>
				<string>{458,210}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{501,670},{458,210}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-20.5}</string>
				<key>spriteSize</key>
				<string>{500,213}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,670},{500,213}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-19.5}</string>
				<key>spriteSize</key>
				<string>{541,215}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{590,0},{541,215}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_05_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-21.5}</string>
				<key>spriteSize</key>
				<string>{568,217}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,452},{568,217}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-21}</string>
				<key>spriteSize</key>
				<string>{583,224}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,227},{583,224}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_05_010.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-21}</string>
				<key>spriteSize</key>
				<string>{589,226}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,0},{589,226}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>PlayerExplosion_05-uhd.png</string>
			<key>size</key>
			<string>{1373,1142}</string>
			<key>textureFileName</key>
			<string>PlayerExplosion_05-uhd.png</string>
		</dict>
	</dict>
</plist>