<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{49,47}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{354,262},{49,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,0.0}</string>
			<key>spriteSize</key>
			<string>{78,74}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{354,188},{78,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{91,87}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{354,100},{91,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.875,0.0}</string>
			<key>spriteSize</key>
			<string>{99,95}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{354,0},{99,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{105,101}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{121,241},{105,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{110,105}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{227,352},{110,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{113,108}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{118,349},{113,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{116,112}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{237,239},{116,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-0.875}</string>
			<key>spriteSize</key>
			<string>{117,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,349},{117,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-1.0}</string>
			<key>spriteSize</key>
			<string>{118,115}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{237,120},{118,115}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.125,-0.875}</string>
			<key>spriteSize</key>
			<string>{119,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{237,0},{119,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,114}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{120,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,115},{120,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{120,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{121,0},{120,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{120,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{121,121},{120,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.0}</string>
			<key>spriteSize</key>
			<string>{120,116}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{0,232},{120,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_06.png</string>
		<key>size</key>
		<string>{449,463}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_06.png</string>
	</dict>
</dict>
</plist>
