<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>playerExplosion_15_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,0}</string>
				<key>spriteSize</key>
				<string>{98,98}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{708,895},{98,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_002.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{12,-0.5}</string>
				<key>spriteSize</key>
				<string>{254,237}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{1054,1141},{254,237}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_003.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{341,271}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{436,895},{341,271}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_004.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-19.5,1}</string>
				<key>spriteSize</key>
				<string>{393,372}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{905,768},{393,372}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_005.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-30,2}</string>
				<key>spriteSize</key>
				<string>{422,426}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,1238},{422,426}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_006.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-27.5,1.5}</string>
				<key>spriteSize</key>
				<string>{439,435}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,798},{439,435}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_007.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15,-0.5}</string>
				<key>spriteSize</key>
				<string>{454,401}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,396},{454,401}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_008.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{457,395}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{0,0},{457,395}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_009.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{29.5,0}</string>
				<key>spriteSize</key>
				<string>{453,446}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{458,0},{453,446}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_010.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{33,0.5}</string>
				<key>spriteSize</key>
				<string>{440,449}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{455,454},{440,449}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_011.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{25,-0.5}</string>
				<key>spriteSize</key>
				<string>{432,415}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{905,0},{432,415}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_012.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-1}</string>
				<key>spriteSize</key>
				<string>{402,334}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{905,433},{402,334}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_013.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-15.5,0.5}</string>
				<key>spriteSize</key>
				<string>{365,325}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{427,1238},{365,325}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_014.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-23.5,-1}</string>
				<key>spriteSize</key>
				<string>{303,300}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{753,1141},{303,300}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>playerExplosion_15_015.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-16,0}</string>
				<key>spriteSize</key>
				<string>{214,216}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{753,1445},{214,216}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>playerExplosion_15_016.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,0.5}</string>
				<key>spriteSize</key>
				<string>{62,55}</string>
				<key>spriteSourceSize</key>
				<string>{640,660}</string>
				<key>textureRect</key>
				<string>{{427,1604},{62,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>PlayerExplosion_15-uhd.png</string>
			<key>size</key>
			<string>{1320,1661}</string>
			<key>textureFileName</key>
			<string>PlayerExplosion_15-uhd.png</string>
		</dict>
	</dict>
</plist>