<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,0.0}</string>
			<key>spriteSize</key>
			<string>{98,94}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{707,524},{98,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{156,149}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{707,375},{156,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{183,174}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{707,200},{183,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,0.0}</string>
			<key>spriteSize</key>
			<string>{199,190}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{707,0},{199,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{211,202}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{241,481},{211,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{220,210}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{454,704},{220,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{227,217}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{236,697},{227,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{232,225}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{474,478},{232,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{235,228}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,697},{235,228}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,-2.0}</string>
			<key>spriteSize</key>
			<string>{237,231}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{474,240},{237,231}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{239,232}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{474,0},{239,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,0.0}</string>
			<key>spriteSize</key>
			<string>{240,229}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,0},{240,229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{240,233}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,230},{240,233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_06_014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{240,233}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{241,0},{240,233}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{240,233}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{241,241},{240,233}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_06_016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{240,233}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,463},{240,233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_06-hd.png</string>
		<key>size</key>
		<string>{897,925}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_06-hd.png</string>
	</dict>
</dict>
</plist>
