<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-1.0}</string>
			<key>spriteSize</key>
			<string>{115,87}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{313,413},{115,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,2.5}</string>
			<key>spriteSize</key>
			<string>{134,120}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{313,292},{134,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,4.25}</string>
			<key>spriteSize</key>
			<string>{137,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{308,150},{137,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,1.5}</string>
			<key>spriteSize</key>
			<string>{133,149}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{159,1},{133,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-1.25}</string>
			<key>spriteSize</key>
			<string>{147,148}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{293,1},{147,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.75,-1.75}</string>
			<key>spriteSize</key>
			<string>{156,159}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{1,323},{156,159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.25,-2.25}</string>
			<key>spriteSize</key>
			<string>{157,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{1,162},{157,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{158,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{1,1},{158,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.75,-1.5}</string>
			<key>spriteSize</key>
			<string>{154,157}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{158,323},{154,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_02_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.25,-1.0}</string>
			<key>spriteSize</key>
			<string>{150,148}</string>
			<key>spriteSourceSize</key>
			<string>{160,165}</string>
			<key>textureRect</key>
			<string>{{159,162},{150,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_02.png</string>
		<key>size</key>
		<string>{448,501}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3a2a6094198ba3bcd62776d5e3df3d37:3bca87fd08b46d47147849b5a151e9e8:fa4e3c82d70b3a25876b59d7652a1edb$</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_02.png</string>
	</dict>
</dict>
</plist>
