<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>playerExplosion_15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,0.0}</string>
			<key>spriteSize</key>
			<string>{49,49}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{354,448},{49,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{127,118}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{527,571},{127,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{170,135}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{218,448},{170,135}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-9.75,0.5}</string>
			<key>spriteSize</key>
			<string>{196,186}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{453,384},{196,186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-15.0,1.0}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,619},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13.75,0.75}</string>
			<key>spriteSize</key>
			<string>{219,217}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,399},{219,217}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{227,200}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,198},{227,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.75,-0.25}</string>
			<key>spriteSize</key>
			<string>{228,197}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{0,0},{228,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{14.75,0.0}</string>
			<key>spriteSize</key>
			<string>{226,223}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{229,0},{226,223}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{16.5,0.25}</string>
			<key>spriteSize</key>
			<string>{220,224}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{228,227},{220,224}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{12.5,-0.25}</string>
			<key>spriteSize</key>
			<string>{216,207}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{453,0},{216,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{201,167}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{453,217},{201,167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7.75,0.25}</string>
			<key>spriteSize</key>
			<string>{182,162}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{214,619},{182,162}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11.75,-0.5}</string>
			<key>spriteSize</key>
			<string>{151,150}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{377,571},{151,150}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>playerExplosion_15_015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8.0,0.0}</string>
			<key>spriteSize</key>
			<string>{107,108}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{377,723},{107,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerExplosion_15_016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.25}</string>
			<key>spriteSize</key>
			<string>{31,27}</string>
			<key>spriteSourceSize</key>
			<string>{320,330}</string>
			<key>textureRect</key>
			<string>{{214,802},{31,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>PlayerExplosion_15-hd.png</string>
		<key>size</key>
		<string>{660,831}</string>
		<key>textureFileName</key>
		<string>PlayerExplosion_15-hd.png</string>
	</dict>
</dict>
</plist>
