<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,82}</string>
			<key>spriteSourceSize</key>
			<string>{102,82}</string>
			<key>textureRect</key>
			<string>{{0,0},{102,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-32,0}</string>
			<key>spriteSize</key>
			<string>{20,40}</string>
			<key>spriteSourceSize</key>
			<string>{84,40}</string>
			<key>textureRect</key>
			<string>{{103,0},{20,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,90}</string>
			<key>spriteSourceSize</key>
			<string>{110,90}</string>
			<key>textureRect</key>
			<string>{{124,0},{110,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_01-uhd.png</string>
		<key>size</key>
		<string>{235,90}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/dart_01-uhd.png</string>
	</dict>
</dict>
</plist>
