<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_14_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>textureRect</key>
				<string>{{0,80},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_14_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,21}</string>
				<key>spriteSize</key>
				<string>{93,39}</string>
				<key>spriteSourceSize</key>
				<string>{138,107}</string>
				<key>textureRect</key>
				<string>{{0,0},{93,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_14_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,21}</string>
				<key>spriteSize</key>
				<string>{93,39}</string>
				<key>spriteSourceSize</key>
				<string>{138,107}</string>
				<key>textureRect</key>
				<string>{{0,40},{93,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_14-hd.png</string>
			<key>size</key>
			<string>{93,140}</string>
			<key>textureFileName</key>
			<string>icons/player_14-hd.png</string>
		</dict>
	</dict>
</plist>