<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_ball_13_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,68}</string>
				<key>spriteSourceSize</key>
				<string>{71,70}</string>
				<key>textureRect</key>
				<string>{{0,73},{69,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_ball_13_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,10.5}</string>
				<key>spriteSize</key>
				<string>{47,19}</string>
				<key>spriteSourceSize</key>
				<string>{69,54}</string>
				<key>textureRect</key>
				<string>{{74,0},{47,19}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_ball_13_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,72}</string>
				<key>spriteSourceSize</key>
				<string>{75,74}</string>
				<key>textureRect</key>
				<string>{{0,0},{73,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_ball_13-hd.png</string>
			<key>size</key>
			<string>{93,141}</string>
			<key>textureFileName</key>
			<string>icons/player_ball_13-hd.png</string>
		</dict>
	</dict>
</plist>