<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{55,39}</string>
				<key>spriteSourceSize</key>
				<string>{56,39}</string>
				<key>textureRect</key>
				<string>{{0,44},{55,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{35,24}</string>
				<key>spriteSourceSize</key>
				<string>{56,39}</string>
				<key>textureRect</key>
				<string>{{60,0},{35,24}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{59,43}</string>
				<key>spriteSourceSize</key>
				<string>{60,43}</string>
				<key>textureRect</key>
				<string>{{0,0},{59,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,27}</string>
				<key>spriteSourceSize</key>
				<string>{19,27}</string>
				<key>textureRect</key>
				<string>{{85,0},{19,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{23,31}</string>
				<key>spriteSourceSize</key>
				<string>{23,31}</string>
				<key>textureRect</key>
				<string>{{60,36},{23,31}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,25}</string>
				<key>spriteSourceSize</key>
				<string>{9,25}</string>
				<key>textureRect</key>
				<string>{{70,68},{9,25}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,29}</string>
				<key>spriteSourceSize</key>
				<string>{13,29}</string>
				<key>textureRect</key>
				<string>{{56,68},{13,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,17}</string>
				<key>spriteSourceSize</key>
				<string>{27,17}</string>
				<key>textureRect</key>
				<string>{{85,28},{27,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,21}</string>
				<key>spriteSourceSize</key>
				<string>{31,21}</string>
				<key>textureRect</key>
				<string>{{0,84},{31,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_02-hd.png</string>
			<key>size</key>
			<string>{104,105}</string>
			<key>textureFileName</key>
			<string>icons/robot_02-hd.png</string>
		</dict>
	</dict>
</plist>