<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>robot_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{108,78}</string>
				<key>spriteSourceSize</key>
				<string>{112,78}</string>
				<key>textureRect</key>
				<string>{{0,87},{108,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-0.5}</string>
				<key>spriteSize</key>
				<string>{68,47}</string>
				<key>spriteSourceSize</key>
				<string>{112,78}</string>
				<key>textureRect</key>
				<string>{{117,0},{68,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,0}</string>
				<key>spriteSize</key>
				<string>{116,86}</string>
				<key>spriteSourceSize</key>
				<string>{120,86}</string>
				<key>textureRect</key>
				<string>{{0,0},{116,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{38,53}</string>
				<key>spriteSourceSize</key>
				<string>{38,54}</string>
				<key>textureRect</key>
				<string>{{0,166},{38,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,62}</string>
				<key>spriteSourceSize</key>
				<string>{46,62}</string>
				<key>textureRect</key>
				<string>{{117,69},{46,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>robot_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>textureRect</key>
				<string>{{54,166},{18,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,58}</string>
				<key>spriteSourceSize</key>
				<string>{26,58}</string>
				<key>textureRect</key>
				<string>{{109,132},{26,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{54,34}</string>
				<key>textureRect</key>
				<string>{{168,63},{54,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>robot_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{62,42}</string>
				<key>textureRect</key>
				<string>{{165,0},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/robot_02-uhd.png</string>
			<key>size</key>
			<string>{207,204}</string>
			<key>textureFileName</key>
			<string>icons/robot_02-uhd.png</string>
		</dict>
	</dict>
</plist>