<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>ship_08_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,-16.5}</string>
				<key>spriteSize</key>
				<string>{140,76}</string>
				<key>spriteSourceSize</key>
				<string>{149,129}</string>
				<key>textureRect</key>
				<string>{{0,86},{140,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_08_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{0,0}</string>
				<key>spriteSourceSize</key>
				<string>{0,0}</string>
				<key>textureRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ship_08_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-16.5}</string>
				<key>spriteSize</key>
				<string>{149,85}</string>
				<key>spriteSourceSize</key>
				<string>{157,136}</string>
				<key>textureRect</key>
				<string>{{0,0},{149,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/ship_08-uhd.png</string>
			<key>size</key>
			<string>{149,162}</string>
			<key>textureFileName</key>
			<string>icons/ship_08-uhd.png</string>
		</dict>
	</dict>
</plist>