<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{149,90}</string>
			<key>spriteSourceSize</key>
			<string>{149,90}</string>
			<key>textureRect</key>
			<string>{{0,0},{149,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,20}</string>
			<key>spriteSize</key>
			<string>{96,42}</string>
			<key>spriteSourceSize</key>
			<string>{104,82}</string>
			<key>textureRect</key>
			<string>{{150,0},{42,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{157,98}</string>
			<key>spriteSourceSize</key>
			<string>{157,98}</string>
			<key>textureRect</key>
			<string>{{193,0},{98,157}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_01-uhd.png</string>
		<key>size</key>
		<string>{292,157}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_01-uhd.png</string>
	</dict>
</dict>
</plist>
